## import

In [1]:
# module to create file paths across operating systems
import os
import pandas as pd
from sqlalchemy import create_engine

## read in CSV files

In [2]:
all_trails = pd.read_csv("initialData/all_trails_data_national_park.csv")

csv_path = os.path.join("initialData", "recreation_visitation_by_state_and_by_park_")
year_2016 = pd.read_csv(f"{csv_path}2016.csv", low_memory=False)
year_2015 = pd.read_csv(f"{csv_path}2015.csv", low_memory=False)
year_2014 = pd.read_csv(f"{csv_path}2014.csv", low_memory=False)
year_2013 = pd.read_csv(f"{csv_path}2013.csv", low_memory=False)
year_2012 = pd.read_csv(f"{csv_path}2012.csv", low_memory=False)
year_2011 = pd.read_csv(f"{csv_path}2011.csv", low_memory=False)
year_2010 = pd.read_csv(f"{csv_path}2010.csv", low_memory=False)

## trail data to dataframe

In [3]:
# 2016
df_trails = pd.DataFrame(all_trails)
df_trails.head()

,trail_id,name,area_name,city_name,state_name,country_name,_geoloc,popularity,length,elevation_gain,difficulty_rating,route_type,visitor_usage,avg_rating,num_reviews,features,activities,units
0,10020048,Harding Ice Field Trail,Kenai Fjords National Park,Seward,Alaska,United States,"{'lat': 60.18852, 'lng': -149.63156}",24.8931,15610.598,1161.8976,5,out and back,3.0,5.0,423,"['dogs-no', 'forest', 'river', 'views', 'water...","['birding', 'camping', 'hiking', 'nature-trips...",i
1,10236086,Mount Healy Overlook Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73049, 'lng': -148.91968}",18.0311,6920.162,507.7968,3,out and back,1.0,4.5,260,"['dogs-no', 'forest', 'views', 'wild-flowers',...","['birding', 'camping', 'hiking', 'nature-trips...",i
2,10267857,Exit Glacier Trail,Kenai Fjords National Park,Seward,Alaska,United States,"{'lat': 60.18879, 'lng': -149.631}",17.7821,2896.812,81.9912,1,out and back,3.0,4.5,224,"['dogs-no', 'partially-paved', 'views', 'wildl...","['hiking', 'walking']",i
3,10236076,Horseshoe Lake Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73661, 'lng': -148.915}",16.2674,3379.614,119.7864,1,loop,2.0,4.5,237,"['dogs-no', 'forest', 'lake', 'kids', 'views',...","['birding', 'hiking', 'nature-trips', 'trail-r...",i
4,10236082,Triple Lakes Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73319, 'lng': -148.89682}",12.5935,29772.790,1124.7120,5,out and back,1.0,4.5,110,"['dogs-no', 'lake', 'views', 'wild-flowers', '...","['birding', 'fishing', 'hiking', 'nature-trips...",i

In [4]:
df_trails = df_trails[["trail_id", "name", "state_name", "popularity", "length", "difficulty_rating", "visitor_usage", "avg_rating"]]
df_trails

,trail_id,name,state_name,popularity,length,difficulty_rating,visitor_usage,avg_rating
0,10020048,Harding Ice Field Trail,Alaska,24.8931,15610.598,5,3.0,5.0
1,10236086,Mount Healy Overlook Trail,Alaska,18.0311,6920.162,3,1.0,4.5
2,10267857,Exit Glacier Trail,Alaska,17.7821,2896.812,1,3.0,4.5
3,10236076,Horseshoe Lake Trail,Alaska,16.2674,3379.614,1,2.0,4.5
4,10236082,Triple Lakes Trail,Alaska,12.5935,29772.790,5,1.0,4.5
...,...,...,...,...,...,...,...,...
3308,10008302,Silversword Loop Via Halemau'u Trail,Maui,9.3861,20116.750,5,2.0,4.5
3309,10236001,Keonehe'ehe'e Trail,Maui,9.1555,28324.384,5,2.0,5.0
3310,10258707,Red Hill Overlook Summit Trail,Maui,8.5066,321.868,1,NaN,4.5
3311,10014989,Kaupo Trail,Maui,8.3240,19312.080,5,1.0,4.0
3312,10259465,Ka Lu'u o ka O'o Cinder Cone via Crater and Sl...,Maui,2.4176,8368.568,3,2.0,4.5

In [5]:
df_trails.to_csv("data//trail_data.csv", encoding = "utf-8", index = False)
df_trails.head()

,trail_id,name,state_name,popularity,length,difficulty_rating,visitor_usage,avg_rating
0,10020048,Harding Ice Field Trail,Alaska,24.8931,15610.598,5,3.0,5.0
1,10236086,Mount Healy Overlook Trail,Alaska,18.0311,6920.162,3,1.0,4.5
2,10267857,Exit Glacier Trail,Alaska,17.7821,2896.812,1,3.0,4.5
3,10236076,Horseshoe Lake Trail,Alaska,16.2674,3379.614,1,2.0,4.5
4,10236082,Triple Lakes Trail,Alaska,12.5935,29772.790,5,1.0,4.5

## state, park, and visitor data to dataframes

In [6]:
# 2016
df_2016 = pd.DataFrame(year_2016)
df_2016_data = df_2016[["State", "Field1", "Field2", "Textbox22", "RecVisitors1", "Textbox23"]]

#add column for year
df_2016_data["Year"] = "2016"

#rename columns
df_2016_data = df_2016_data.rename(columns = {'Field1': 'Park', 'Field2': 'ParkVisitorCount', 
                                              'Textbox22': 'ParkPctChange',
                                              'RecVisitors1': 'StateVisitorCount', 'Textbox23': 'StatePctChange'})

#reorder columns
df_2016_data = df_2016_data[['Year', 'State', 'Park', 'ParkVisitorCount', 'ParkPctChange',
                             'StateVisitorCount', 'StatePctChange']]

#write data to CSV file
df_2016_data.to_csv("data//2016_park_data.csv", encoding = "utf-8", index = False)
df_2016_data.head()

C:\Users\rache\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Year,State,Park,ParkVisitorCount,ParkPctChange,StateVisitorCount,StatePctChange
0,2016,Alabama,Horseshoe Bend NMP,"83,370",-6.62%,"1,022,696",29.05%
1,2016,Alabama,Little River Canyon NPRES,"462,700",86.47%,"1,022,696",29.05%
2,2016,Alabama,Natchez Trace PKWY,"412,392",1.82%,"1,022,696",29.05%
3,2016,Alabama,Russell Cave NM,"24,649",26.86%,"1,022,696",29.05%
4,2016,Alabama,Tuskegee Airmen NHS,"31,133",37.38%,"1,022,696",29.05%

In [7]:
df_2016_data["Park"] = df_2016_data["Park"].str.rsplit(" ", n =1, expand = True)
df_2016_data
#fix - add a column and put the type of park in the new column

,Year,State,Park,ParkVisitorCount,ParkPctChange,StateVisitorCount,StatePctChange
0,2016,Alabama,Horseshoe Bend,"83,370",-6.62%,"1,022,696",29.05%
1,2016,Alabama,Little River Canyon,"462,700",86.47%,"1,022,696",29.05%
2,2016,Alabama,Natchez Trace,"412,392",1.82%,"1,022,696",29.05%
3,2016,Alabama,Russell Cave,"24,649",26.86%,"1,022,696",29.05%
4,2016,Alabama,Tuskegee Airmen,"31,133",37.38%,"1,022,696",29.05%
...,...,...,...,...,...,...,...
395,2016,Wyoming,Fort Laramie,"57,444",11.29%,"7,461,666",2.91%
396,2016,Wyoming,Fossil Butte,"20,737",7.48%,"7,461,666",2.91%
397,2016,Wyoming,Grand Teton,"3,270,076",3.81%,"7,461,666",2.91%
398,2016,Wyoming,"John D. Rockefeller, Jr. MEM","1,411,819",-1.29%,"7,461,666",2.91%
399,2016,Wyoming,Yellowstone,"2,086,017",3.89%,"7,461,666",2.91%

In [ ]:
# 2015
df_2015 = pd.DataFrame(year_2015)

df_2015_data = df_2015[["State", "Field1", "Field2", "Textbox22", "RecVisitors1", "Textbox23"]]

#add column for year
df_2015_data["Year"] = "2015"

df_2015_data = df_2015_data.rename(columns = { 'Field1': 'Park', 'Field2': 'ParkVisitorCount', 
                                              'Textbox22': 'ParkPctChange',
                                              'RecVisitors1': 'StateVisitorCount', 'Textbox23': 'StatePctChange'})

#reorder columns
df_2015_data = df_2015_data[['Year', 'State', 'Park', 'ParkVisitorCount', 'ParkPctChange',
                             'StateVisitorCount', 'StatePctChange']]

df_2015_data.to_csv("data//2015_park_data.csv", encoding = "utf-8", index = False)
df_2015_data.head()

In [ ]:
# 2014
df_2014 = pd.DataFrame(year_2014)
df_2014_data = df_2014[["State", "Field1", "Field2", "Textbox22", "RecVisitors1", "Textbox23"]]

#add column for year
df_2014_data["Year"] = "2014"

df_2014_data = df_2014_data.rename(columns = { 'Field1': 'Park', 'Field2': 'ParkVisitorCount', 
                                              'Textbox22': 'ParkPctChange',
                                              'RecVisitors1': 'StateVisitorCount', 'Textbox23': 'StatePctChange'})

#reorder columns
df_2014_data = df_2014_data[['Year', 'State', 'Park', 'ParkVisitorCount', 'ParkPctChange',
                             'StateVisitorCount', 'StatePctChange']]

df_2014_data.to_csv("data//2014_park_data.csv", encoding = "utf-8", index = False)
df_2014_data.head()

In [ ]:
# 2013
df_2013 = pd.DataFrame(year_2013)
df_2013_data = df_2013[["State", "Field1", "Field2", "Textbox22", "RecVisitors1", "Textbox23"]]

#add column for year
df_2013_data["Year"] = "2013"

df_2013_data = df_2013_data.rename(columns = { 'Field1': 'Park', 'Field2': 'ParkVisitorCount', 
                                              'Textbox22': 'ParkPctChange',
                                              'RecVisitors1': 'StateVisitorCount', 'Textbox23': 'StatePctChange'})

#reorder columns
df_2013_data = df_2013_data[['Year', 'State', 'Park', 'ParkVisitorCount', 'ParkPctChange',
                             'StateVisitorCount', 'StatePctChange']]

df_2013_data.to_csv("data//2013_park_data.csv", encoding = "utf-8", index = False)
df_2013_data.head()

In [ ]:
# 2012
df_2012 = pd.DataFrame(year_2012)
df_2012_data = df_2012[["State", "Field1", "Field2", "Textbox22", "RecVisitors1", "Textbox23"]]

#add column for year
df_2012_data["Year"] = "2012"

df_2012_data = df_2012_data.rename(columns = { 'Field1': 'Park', 'Field2': 'ParkVisitorCount', 
                                              'Textbox22': 'ParkPctChange',
                                              'RecVisitors1': 'StateVisitorCount', 'Textbox23': 'StatePctChange'})

#reorder columns
df_2012_data = df_2012_data[['Year', 'State', 'Park', 'ParkVisitorCount', 'ParkPctChange',
                             'StateVisitorCount', 'StatePctChange']]

df_2012_data.to_csv("data//2012_park_data.csv", encoding = "utf-8", index = False)
df_2012_data.head()

In [ ]:
# 2011
df_2011 = pd.DataFrame(year_2011)
df_2011_data = df_2011[["State", "Field1", "Field2", "Textbox22", "RecVisitors1", "Textbox23"]]

#add column for year
df_2011_data["Year"] = "2011"

df_2011_data = df_2011_data.rename(columns = { 'Field1': 'Park', 'Field2': 'ParkVisitorCount', 
                                              'Textbox22': 'ParkPctChange',
                                              'RecVisitors1': 'StateVisitorCount', 'Textbox23': 'StatePctChange'})

#reorder columns
df_2011_data = df_2011_data[['Year', 'State', 'Park', 'ParkVisitorCount', 'ParkPctChange',
                             'StateVisitorCount', 'StatePctChange']]

df_2011_data.to_csv("data//2011_park_data.csv", encoding = "utf-8", index = False)
df_2011_data.head()

In [ ]:
# 2010
df_2010 = pd.DataFrame(year_2010)
df_2010_data = df_2010[["State", "Field1", "Field2", "Textbox22", "RecVisitors1", "Textbox23"]]

#add column for year
df_2010_data["Year"] = "2010"

df_2010_data = df_2010_data.rename(columns = { 'Field1': 'Park', 'Field2': 'ParkVisitorCount', 
                                              'Textbox22': 'ParkPctChange',
                                              'RecVisitors1': 'StateVisitorCount', 'Textbox23': 'StatePctChange'})

#reorder columns
df_2010_data = df_2010_data[['Year', 'State', 'Park', 'ParkVisitorCount', 'ParkPctChange',
                             'StateVisitorCount', 'StatePctChange']]

df_2010_data.to_csv("data//2010_park_data.csv", encoding = "utf-8", index = False)
df_2010_data.head()

In [ ]:
#merge all years together into one dataframe
frames = [df_2016_data, df_2015_data, df_2014_data]
df_all_years = pd.concat(frames)
df_all_years

In [ ]:
# remove rows for non US states

# get names of indexes for which column State has value of not us state and drop those rows
index_names = df_all_years[df_all_years['State'] == "American Samoa"].index
df_all_years.drop(index_names, inplace = True)

index_names = df_all_years[df_all_years['State'] == "District of Columbia"].index
df_all_years.drop(index_names, inplace = True)

index_names = df_all_years[df_all_years['State'] == "Guam"].index
df_all_years.drop(index_names, inplace = True)

index_names = df_all_years[df_all_years['State'] == "Puerto Rico"].index
df_all_years.drop(index_names, inplace = True)

index_names = df_all_years[df_all_years['State'] == "Virgin Islands"].index
df_all_years.drop(index_names, inplace = True)


df_all_years

In [ ]:
df_all_years.to_csv("data//all_years_state_park.csv", encoding = "utf-8", index = False)

In [ ]:
#create a database in pgAdmin
#create tables and load data to tables
engine = create_engine('postgresql://postgres:yourpassword@localhost:5432/national_park_db')
df_2016_data.to_sql('state_parks', engine)
df_trails.to_sql('trails', engine)