## import

In [1]:
# module to create file paths across operating systems
import os
import pandas as pd
#postgress password
from config import password
from sqlalchemy import create_engine

import json

## read in CSV files

In [2]:
all_trails = pd.read_csv("initialData/all_trails_data_national_park.csv")

csv_path = os.path.join("initialData", "recreation_visitation_by_state_and_by_park_")
year_2016 = pd.read_csv(f"{csv_path}2016.csv", low_memory=False)
year_2015 = pd.read_csv(f"{csv_path}2015.csv", low_memory=False)
year_2014 = pd.read_csv(f"{csv_path}2014.csv", low_memory=False)
year_2013 = pd.read_csv(f"{csv_path}2013.csv", low_memory=False)
year_2012 = pd.read_csv(f"{csv_path}2012.csv", low_memory=False)
year_2011 = pd.read_csv(f"{csv_path}2011.csv", low_memory=False)
year_2010 = pd.read_csv(f"{csv_path}2010.csv", low_memory=False)

state_visitors = pd.read_csv("data/all_years_visitors.csv")

## trail data to dataframe

In [3]:
# 2016
df_trails = pd.DataFrame(all_trails)
df_trails.head()

,trail_id,name,area_name,city_name,state_name,country_name,_geoloc,popularity,length,elevation_gain,difficulty_rating,route_type,visitor_usage,avg_rating,num_reviews,features,activities,units
0,10020048,Harding Ice Field Trail,Kenai Fjords National Park,Seward,Alaska,United States,"{'lat': 60.18852, 'lng': -149.63156}",24.8931,15610.598,1161.8976,5,out and back,3.0,5.0,423,"['dogs-no', 'forest', 'river', 'views', 'water...","['birding', 'camping', 'hiking', 'nature-trips...",i
1,10236086,Mount Healy Overlook Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73049, 'lng': -148.91968}",18.0311,6920.162,507.7968,3,out and back,1.0,4.5,260,"['dogs-no', 'forest', 'views', 'wild-flowers',...","['birding', 'camping', 'hiking', 'nature-trips...",i
2,10267857,Exit Glacier Trail,Kenai Fjords National Park,Seward,Alaska,United States,"{'lat': 60.18879, 'lng': -149.631}",17.7821,2896.812,81.9912,1,out and back,3.0,4.5,224,"['dogs-no', 'partially-paved', 'views', 'wildl...","['hiking', 'walking']",i
3,10236076,Horseshoe Lake Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73661, 'lng': -148.915}",16.2674,3379.614,119.7864,1,loop,2.0,4.5,237,"['dogs-no', 'forest', 'lake', 'kids', 'views',...","['birding', 'hiking', 'nature-trips', 'trail-r...",i
4,10236082,Triple Lakes Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73319, 'lng': -148.89682}",12.5935,29772.790,1124.7120,5,out and back,1.0,4.5,110,"['dogs-no', 'lake', 'views', 'wild-flowers', '...","['birding', 'fishing', 'hiking', 'nature-trips...",i

In [4]:
df_trails = df_trails[["trail_id", "name", "area_name", "state_name", "_geoloc", "popularity", "length", "difficulty_rating", "route_type", "visitor_usage", "avg_rating", "features", "activities"]]
df_trails

,trail_id,name,area_name,state_name,_geoloc,popularity,length,difficulty_rating,route_type,visitor_usage,avg_rating,features,activities
0,10020048,Harding Ice Field Trail,Kenai Fjords National Park,Alaska,"{'lat': 60.18852, 'lng': -149.63156}",24.8931,15610.598,5,out and back,3.0,5.0,"['dogs-no', 'forest', 'river', 'views', 'water...","['birding', 'camping', 'hiking', 'nature-trips..."
1,10236086,Mount Healy Overlook Trail,Denali National Park,Alaska,"{'lat': 63.73049, 'lng': -148.91968}",18.0311,6920.162,3,out and back,1.0,4.5,"['dogs-no', 'forest', 'views', 'wild-flowers',...","['birding', 'camping', 'hiking', 'nature-trips..."
2,10267857,Exit Glacier Trail,Kenai Fjords National Park,Alaska,"{'lat': 60.18879, 'lng': -149.631}",17.7821,2896.812,1,out and back,3.0,4.5,"['dogs-no', 'partially-paved', 'views', 'wildl...","['hiking', 'walking']"
3,10236076,Horseshoe Lake Trail,Denali National Park,Alaska,"{'lat': 63.73661, 'lng': -148.915}",16.2674,3379.614,1,loop,2.0,4.5,"['dogs-no', 'forest', 'lake', 'kids', 'views',...","['birding', 'hiking', 'nature-trips', 'trail-r..."
4,10236082,Triple Lakes Trail,Denali National Park,Alaska,"{'lat': 63.73319, 'lng': -148.89682}",12.5935,29772.790,5,out and back,1.0,4.5,"['dogs-no', 'lake', 'views', 'wild-flowers', '...","['birding', 'fishing', 'hiking', 'nature-trips..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3308,10008302,Silversword Loop Via Halemau'u Trail,Haleakala National Park,Maui,"{'lat': 20.75275, 'lng': -156.22884}",9.3861,20116.750,5,loop,2.0,4.5,"['dogs-no', 'views', 'wild-flowers']","['birding', 'hiking', 'nature-trips']"
3309,10236001,Keonehe'ehe'e Trail,Haleakala National Park,Maui,"{'lat': 20.714480000000002, 'lng': -156.25072}",9.1555,28324.384,5,out and back,2.0,5.0,"['dogs-no', 'views', 'wildlife']","['backpacking', 'camping', 'hiking']"
3310,10258707,Red Hill Overlook Summit Trail,Haleakala National Park,Maui,"{'lat': 20.71007, 'lng': -156.25357}",8.5066,321.868,1,out and back,NaN,4.5,"['dogs-no', 'kids', 'views']","['hiking', 'walking']"
3311,10014989,Kaupo Trail,Haleakala National Park,Maui,"{'lat': 20.64981, 'lng': -156.137}",8.3240,19312.080,5,out and back,1.0,4.0,"['dogs-no', 'views', 'wildlife']",['hiking']
3312,10259465,Ka Lu'u o ka O'o Cinder Cone via Crater and Sl...,Haleakala National Park,Maui,"{'lat': 20.71449, 'lng': -156.25085}",2.4176,8368.568,3,loop,2.0,4.5,['views'],['hiking']

In [5]:
df_trails.to_csv("data//trail_data.csv", encoding = "utf-8", index = False)
df_trails.head()

,trail_id,name,area_name,state_name,_geoloc,popularity,length,difficulty_rating,route_type,visitor_usage,avg_rating,features,activities
0,10020048,Harding Ice Field Trail,Kenai Fjords National Park,Alaska,"{'lat': 60.18852, 'lng': -149.63156}",24.8931,15610.598,5,out and back,3.0,5.0,"['dogs-no', 'forest', 'river', 'views', 'water...","['birding', 'camping', 'hiking', 'nature-trips..."
1,10236086,Mount Healy Overlook Trail,Denali National Park,Alaska,"{'lat': 63.73049, 'lng': -148.91968}",18.0311,6920.162,3,out and back,1.0,4.5,"['dogs-no', 'forest', 'views', 'wild-flowers',...","['birding', 'camping', 'hiking', 'nature-trips..."
2,10267857,Exit Glacier Trail,Kenai Fjords National Park,Alaska,"{'lat': 60.18879, 'lng': -149.631}",17.7821,2896.812,1,out and back,3.0,4.5,"['dogs-no', 'partially-paved', 'views', 'wildl...","['hiking', 'walking']"
3,10236076,Horseshoe Lake Trail,Denali National Park,Alaska,"{'lat': 63.73661, 'lng': -148.915}",16.2674,3379.614,1,loop,2.0,4.5,"['dogs-no', 'forest', 'lake', 'kids', 'views',...","['birding', 'hiking', 'nature-trips', 'trail-r..."
4,10236082,Triple Lakes Trail,Denali National Park,Alaska,"{'lat': 63.73319, 'lng': -148.89682}",12.5935,29772.790,5,out and back,1.0,4.5,"['dogs-no', 'lake', 'views', 'wild-flowers', '...","['birding', 'fishing', 'hiking', 'nature-trips..."

## state, park, and visitor data to dataframes

In [ ]:
# 2016
df_2016 = pd.DataFrame(year_2016)
df_2016

In [ ]:
# 2016
df_2016 = pd.DataFrame(year_2016)
df_2016_data = df_2016[["State", "Field1", "Field2", "Textbox22", "RecVisitors1", "Textbox23"]]


#rename columns
df_2016_data = df_2016_data.rename(columns = {'Field1': 'Park', 'Field2': 'ParkVisitorCount_2016', 
                                              'Textbox22': 'ParkPctChange_2016',
                                              'RecVisitors1': 'StateVisitorCount_2016', 'Textbox23': 'StatePctChange_2016'})

#add column of state and park
df_2016_data["PK"] = df_2016_data["State"] + " " + df_2016_data["Park"]


#reorder columns
df_2016_data = df_2016_data[['PK', 'State', 'Park', 'ParkVisitorCount_2016', 'ParkPctChange_2016',
                             'StateVisitorCount_2016', 'StatePctChange_2016']]

#write data to CSV file
df_2016_data.to_csv("data//2016_park_data.csv", encoding = "utf-8", index = False)
df_2016_data

In [ ]:
# 2015
df_2015 = pd.DataFrame(year_2015)

df_2015_data = df_2015[["State", "Field1", "Field2", "Textbox22", "RecVisitors1", "Textbox23"]]

#add column for year
#df_2015_data["Year"] = "2015"

df_2015_data = df_2015_data.rename(columns = { 'Field1': 'Park', 'Field2': 'ParkVisitorCount_2015', 
                                              'Textbox22': 'ParkPctChange_2015',
                                              'RecVisitors1': 'StateVisitorCount_2015', 'Textbox23': 'StatePctChange_2015'})
#add column of state and park
df_2015_data["PK"] = df_2015_data["State"] + " " + df_2015_data["Park"]

#reorder columns
df_2015_data = df_2015_data[['PK', 'ParkVisitorCount_2015', 'ParkPctChange_2015',
                             'StateVisitorCount_2015', 'StatePctChange_2015']]

df_2015_data.to_csv("data//2015_park_data.csv", encoding = "utf-8", index = False)
df_2015_data

In [ ]:
# 2014
df_2014 = pd.DataFrame(year_2014)
df_2014_data = df_2014[["State", "Field1", "Field2", "Textbox22", "RecVisitors1", "Textbox23"]]

#add column for year
#df_2014_data["Year"] = "2014"

df_2014_data = df_2014_data.rename(columns = { 'Field1': 'Park', 'Field2': 'ParkVisitorCount_2014', 
                                              'Textbox22': 'ParkPctChange_2014',
                                              'RecVisitors1': 'StateVisitorCount_2014', 'Textbox23': 'StatePctChange_2014'})

#add column of state and park
df_2014_data["PK"] = df_2014_data["State"] + " " + df_2014_data["Park"]

#reorder columns
df_2014_data = df_2014_data[['PK', 'ParkVisitorCount_2014', 'ParkPctChange_2014',
                             'StateVisitorCount_2014', 'StatePctChange_2014']]

df_2014_data.to_csv("data//2014_park_data.csv", encoding = "utf-8", index = False)
df_2014_data.head()

In [ ]:
#merge all years together into one dataframe
df_all_years = pd.merge(df_2016_data, df_2015_data, on = "PK", how = "outer")
df_all_years = pd.merge(df_all_years, df_2014_data, on = "PK", how = "outer")
df_all_years.head()

In [ ]:
# remove rows for non US states

# get names of indexes for which column State has value of not us state and drop those rows
index_names = df_all_years[df_all_years['State'] == "American Samoa"].index
df_all_years.drop(index_names, inplace = True)

index_names = df_all_years[df_all_years['State'] == "District of Columbia"].index
df_all_years.drop(index_names, inplace = True)

index_names = df_all_years[df_all_years['State'] == "Guam"].index
df_all_years.drop(index_names, inplace = True)

index_names = df_all_years[df_all_years['State'] == "Puerto Rico"].index
df_all_years.drop(index_names, inplace = True)

index_names = df_all_years[df_all_years['State'] == "Virgin Islands"].index
df_all_years.drop(index_names, inplace = True)


df_all_years.head()

In [ ]:
df_all_years['ParkVisitorCount_2016'] = df_all_years['ParkVisitorCount_2016'].astype(str).str.replace(',', '').astype(float)
df_all_years['ParkVisitorCount_2015'] = df_all_years['ParkVisitorCount_2015'].astype(str).str.replace(',', '').astype(float)
df_all_years['ParkVisitorCount_2014'] = df_all_years['ParkVisitorCount_2014'].astype(str).str.replace(',', '').astype(float)
df_all_years['ParkPctChange_2016'] = df_all_years['ParkPctChange_2016'].astype(str).str.replace('%', '').astype(float)
df_all_years['ParkPctChange_2015'] = df_all_years['ParkPctChange_2015'].astype(str).str.replace('%', '').astype(float)
df_all_years['ParkPctChange_2014'] = df_all_years['ParkPctChange_2014'].astype(str).str.replace('%', '').astype(float)
df_all_years['StateVisitorCount_2016'] = df_all_years['StateVisitorCount_2016'].astype(str).str.replace(',', '').astype(float)
df_all_years['StateVisitorCount_2015'] = df_all_years['StateVisitorCount_2015'].astype(str).str.replace(',', '').astype(float)
df_all_years['StateVisitorCount_2014'] = df_all_years['StateVisitorCount_2014'].astype(str).str.replace(',', '').astype(float)
df_all_years['StatePctChange_2016'] = df_all_years['StatePctChange_2016'].astype(str).str.replace('%', '').astype(float)
df_all_years['StatePctChange_2015'] = df_all_years['StatePctChange_2015'].astype(str).str.replace('%', '').astype(float)
df_all_years['StatePctChange_2014'] = df_all_years['StatePctChange_2014'].astype(str).str.replace('%', '').astype(float)

df_all_years.dtypes

In [ ]:
df_all_years.fillna(0)
df_all_years["ParkPctChange_2016"] = df_all_years["ParkPctChange_2016"].fillna(0)
df_all_years["ParkPctChange_2015"] = df_all_years["ParkPctChange_2015"].fillna(0)
df_all_years["ParkPctChange_2014"] = df_all_years["ParkPctChange_2014"].fillna(0)
df_all_years["ParkVisitorCount_2016"] = df_all_years["ParkVisitorCount_2016"].fillna(0)
df_all_years["ParkVisitorCount_2015"] = df_all_years["ParkVisitorCount_2015"].fillna(0)
df_all_years["ParkVisitorCount_2014"] = df_all_years["ParkVisitorCount_2014"].fillna(0)
df_all_years.dtypes

In [ ]:
park_visitors_df = df_all_years.loc[df_all_years["ParkVisitorCount_2014"].isna()==True]
park_visitors_df

In [ ]:
# df_all_years.to_csv("data//all_years_state_park.csv", encoding = "utf-8", index = False)

In [ ]:
df_trails.dtypes

In [ ]:
state_visitors

In [ ]:
state_visitors.dtypes

In [ ]:
state_visitors['StateVisitorCount_2016'] = state_visitors['StateVisitorCount_2016'].astype(str).str.replace(',', '').astype(float)
state_visitors['StateVisitorCount_2015'] = state_visitors['StateVisitorCount_2015'].astype(str).str.replace(',', '').astype(float)
state_visitors['StateVisitorCount_2014'] = state_visitors['StateVisitorCount_2014'].astype(str).str.replace(',', '').astype(float)
state_visitors['StatePctChange_2016'] = state_visitors['StatePctChange_2016'].astype(str).str.replace('%', '').astype(float)
state_visitors['StatePctChange_2015'] = state_visitors['StatePctChange_2015'].astype(str).str.replace('%', '').astype(float)
state_visitors['StatePctChange_2014'] = state_visitors['StatePctChange_2014'].astype(str).str.replace('%', '').astype(float)

state_visitors.dtypes

## Load the data into the postgres database!!

In [ ]:
#create a database in pgAdmin
#create tables and load data to tables
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/national_park_db')

In [ ]:
df_all_years.to_sql(name = 'state_parks', con = engine, if_exists = "append", index = False)

In [ ]:
df_trails.to_sql(name = 'trails', con = engine, if_exists = "append", index = False)

In [ ]:
state_visitors.to_sql(name = 'state_visitors', con = engine, if_exists = "append", index = False)

## GeoJSON Magic below!!  Running the cells below this point is unnecessary.

In [ ]:
# Adding the visitor count information to the GeoJSON file because d3.json loops cause pain.
filename = "./static/data/gz_2010_us_040_00_5m.json"

geojson_df = pd.read_json(filename)
geojson_df.head()

In [ ]:
# loop through the source GeoJSON file, keep all of the data in the right format
# and add the desired data from the state_visitors dataframe to the properties for each state
# maintaining the correct relationships between all of the data thingies.
geojson_df['features']

features_list = []
for label, content in geojson_df['features'].items():
    #print(f'label: {label}')
    #print(f'content: {content.items() }')
    new_data = {}
    count = 0
   
    for key, value in content.items():
        #print(key)
        #print(value)
        
        geo_dict = {}
        if key == 'type':
            new_data.update({key: value})
            
        if key == 'geometry':
            new_data.update({key: value})      
        
        if key == 'properties':
            
            print(value['NAME'])
            # use the state name to grab the data from the state_visitors dataframe!
            state = value['NAME']           
            
            for i, d in value.items():
                print(i)
                print(d)
                dict = {i: d}
                geo_dict.__setitem__(i,d)
            
            # colorful variable names happen at 1:00 am in the morning, some of them live on
            WOAH = state_visitors.loc[state_visitors['State'] == state].to_dict(orient='list')
            print(f'WOAH: {WOAH}')  # this is a dictionary of lists (each with a single item)
            for i, d in WOAH.items():
                print(d[0])
                dict = {i: d[0]}
                geo_dict.__setitem__(i, d[0])
#                 print(d)
            
            #print(f'WOAH: {WOAH}')
#             geo_dict["State"] = state
#             geo_dict["StateVisitorCount_2016"] = state_visitors.loc[state_visitors['State'] == state]['StateVisitorCount_2016'][0]
#             geo_dict["StatePctChange_2016"] = state_visitors.loc[state_visitors['State'] == state]['StatePctChange_2016'][0]
#             geo_dict["StateVisitorCount_2015"] = state_visitors.loc[state_visitors['State'] == state]['StateVisitorCount_2015'][0]
#             geo_dict["StatePctChange_2015"] = state_visitors.loc[state_visitors['State'] == state]['StatePctChange_2015'][0]
#             geo_dict["StateVisitorCount_2014"] = state_visitors.loc[state_visitors['State'] == state]['StateVisitorCount_2014'][0]
#             geo_dict["StatePctChange_2014"] = state_visitors.loc[state_visitors['State'] == state]['StatePctChange_2014'][0]
            
#             print(f'{key}: and {dict}')
            new_data.update({key: geo_dict})
            count = count +1
            
    features_list.append(new_data)  
#print(f'new data: ${new_data}')

new_geojson_data = {'type': "FeatureCollection",
        'features': features_list}

In [ ]:
new_geojson_data

In [ ]:
new_geojson_df = pd.DataFrame(new_geojson_data)
#new_geojson_df['features']

In [ ]:
# Write out the new geojson file!
output_filename = './static/data/parks_geojson.js'
with open(output_filename, 'w') as output_file:
    json.dump(new_geojson_data, output_file, indent=2)