## read in CSV files

In [6]:
# module to create file paths across operating systems
import os
import pandas as pd
import sqlalchemy

In [7]:
all_trails = pd.read_csv("initialData/all_trails_data_national_park.csv")

csv_path = os.path.join("initialData", "recreation_visitation_by_state_and_by_park_")
year_2016 = pd.read_csv(f"{csv_path}2016.csv", low_memory=False)
year_2015 = pd.read_csv(f"{csv_path}2015.csv", low_memory=False)
year_2014 = pd.read_csv(f"{csv_path}2014.csv", low_memory=False)
year_2013 = pd.read_csv(f"{csv_path}2013.csv", low_memory=False)
year_2012 = pd.read_csv(f"{csv_path}2012.csv", low_memory=False)
year_2011 = pd.read_csv(f"{csv_path}2011.csv", low_memory=False)
year_2010 = pd.read_csv(f"{csv_path}2010.csv", low_memory=False)

In [8]:
all_trails.to_csv("data//trail_data.csv", encoding = "utf-8", index = False)
all_trails.head()

,trail_id,name,area_name,city_name,state_name,country_name,_geoloc,popularity,length,elevation_gain,difficulty_rating,route_type,visitor_usage,avg_rating,num_reviews,features,activities,units
0,10020048,Harding Ice Field Trail,Kenai Fjords National Park,Seward,Alaska,United States,"{'lat': 60.18852, 'lng': -149.63156}",24.8931,15610.598,1161.8976,5,out and back,3.0,5.0,423,"['dogs-no', 'forest', 'river', 'views', 'water...","['birding', 'camping', 'hiking', 'nature-trips...",i
1,10236086,Mount Healy Overlook Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73049, 'lng': -148.91968}",18.0311,6920.162,507.7968,3,out and back,1.0,4.5,260,"['dogs-no', 'forest', 'views', 'wild-flowers',...","['birding', 'camping', 'hiking', 'nature-trips...",i
2,10267857,Exit Glacier Trail,Kenai Fjords National Park,Seward,Alaska,United States,"{'lat': 60.18879, 'lng': -149.631}",17.7821,2896.812,81.9912,1,out and back,3.0,4.5,224,"['dogs-no', 'partially-paved', 'views', 'wildl...","['hiking', 'walking']",i
3,10236076,Horseshoe Lake Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73661, 'lng': -148.915}",16.2674,3379.614,119.7864,1,loop,2.0,4.5,237,"['dogs-no', 'forest', 'lake', 'kids', 'views',...","['birding', 'hiking', 'nature-trips', 'trail-r...",i
4,10236082,Triple Lakes Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73319, 'lng': -148.89682}",12.5935,29772.790,1124.7120,5,out and back,1.0,4.5,110,"['dogs-no', 'lake', 'views', 'wild-flowers', '...","['birding', 'fishing', 'hiking', 'nature-trips...",i

In [9]:
# 2016
df_2016 = pd.DataFrame(year_2016)
df_2016_data = df_2016[["State", "Field1", "Field2", "Textbox22", "RecVisitors1", "Textbox23"]]

#add column for year
df_2016_data["Year"] = "2016"

#rename columns
df_2016_data = df_2016_data.rename(columns = {'Field1': 'Park', 'Field2': 'ParkVisitorCount', 
                                              'Textbox22': 'ParkPctChange',
                                              'RecVisitors1': 'StateVisitorCount', 'Textbox23': 'StatePctChange'})

#reorder columns
df_2016_data = df_2016_data[['Year', 'State', 'Park', 'ParkVisitorCount', 'ParkPctChange',
                             'StateVisitorCount', 'StatePctChange']]

#write data to CSV file
df_2016_data.to_csv("data//2016_park_data.csv", encoding = "utf-8", index = False)
df_2016_data.head()

C:\Users\rache\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Year,State,Park,ParkVisitorCount,ParkPctChange,StateVisitorCount,StatePctChange
0,2016,Alabama,Horseshoe Bend NMP,"83,370",-6.62%,"1,022,696",29.05%
1,2016,Alabama,Little River Canyon NPRES,"462,700",86.47%,"1,022,696",29.05%
2,2016,Alabama,Natchez Trace PKWY,"412,392",1.82%,"1,022,696",29.05%
3,2016,Alabama,Russell Cave NM,"24,649",26.86%,"1,022,696",29.05%
4,2016,Alabama,Tuskegee Airmen NHS,"31,133",37.38%,"1,022,696",29.05%

In [10]:
# 2015
df_2015 = pd.DataFrame(year_2015)

df_2015_data = df_2015[["State", "Field1", "Field2", "Textbox22", "RecVisitors1", "Textbox23"]]

#add column for year
df_2015_data["Year"] = "2015"

df_2015_data = df_2015_data.rename(columns = { 'Field1': 'Park', 'Field2': 'ParkVisitorCount', 
                                              'Textbox22': 'ParkPctChange',
                                              'RecVisitors1': 'StateVisitorCount', 'Textbox23': 'StatePctChange'})

#reorder columns
df_2015_data = df_2015_data[['Year', 'State', 'Park', 'ParkVisitorCount', 'ParkPctChange',
                             'StateVisitorCount', 'StatePctChange']]

df_2015_data.to_csv("data//2015_park_data.csv", encoding = "utf-8", index = False)
df_2015_data.head()

C:\Users\rache\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

,Year,State,Park,ParkVisitorCount,ParkPctChange,StateVisitorCount,StatePctChange
0,2015,Alabama,Horseshoe Bend NMP,"89,282",38.72%,"792,477",5.22%
1,2015,Alabama,Little River Canyon NPRES,"248,135",10.32%,"792,477",5.22%
2,2015,Alabama,Natchez Trace PKWY,"405,007",-1.04%,"792,477",5.22%
3,2015,Alabama,Russell Cave NM,"19,430",4.86%,"792,477",5.22%
4,2015,Alabama,Tuskegee Airmen NHS,"22,662",-6.81%,"792,477",5.22%

In [11]:
# 2014
df_2014 = pd.DataFrame(year_2014)
df_2014_data = df_2014[["State", "Field1", "Field2", "Textbox22", "RecVisitors1", "Textbox23"]]

#add column for year
df_2014_data["Year"] = "2014"

df_2014_data = df_2014_data.rename(columns = { 'Field1': 'Park', 'Field2': 'ParkVisitorCount', 
                                              'Textbox22': 'ParkPctChange',
                                              'RecVisitors1': 'StateVisitorCount', 'Textbox23': 'StatePctChange'})

#reorder columns
df_2014_data = df_2014_data[['Year', 'State', 'Park', 'ParkVisitorCount', 'ParkPctChange',
                             'StateVisitorCount', 'StatePctChange']]

df_2014_data.to_csv("data//2014_park_data.csv", encoding = "utf-8", index = False)
df_2014_data.head()

C:\Users\rache\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Year,State,Park,ParkVisitorCount,ParkPctChange,StateVisitorCount,StatePctChange
0,2014,Alabama,Horseshoe Bend NMP,"64,359",15.00%,"753,178",0.44%
1,2014,Alabama,Little River Canyon NPRES,"224,931",21.27%,"753,178",0.44%
2,2014,Alabama,Natchez Trace PKWY,"409,253",-2.77%,"753,178",0.44%
3,2014,Alabama,Russell Cave NM,"18,530",-9.42%,"753,178",0.44%
4,2014,Alabama,Tuskegee Airmen NHS,"24,319",26.00%,"753,178",0.44%

In [12]:
# 2013
df_2013 = pd.DataFrame(year_2013)
df_2013_data = df_2013[["State", "Field1", "Field2", "Textbox22", "RecVisitors1", "Textbox23"]]

#add column for year
df_2013_data["Year"] = "2013"

df_2013_data = df_2013_data.rename(columns = { 'Field1': 'Park', 'Field2': 'ParkVisitorCount', 
                                              'Textbox22': 'ParkPctChange',
                                              'RecVisitors1': 'StateVisitorCount', 'Textbox23': 'StatePctChange'})

#reorder columns
df_2013_data = df_2013_data[['Year', 'State', 'Park', 'ParkVisitorCount', 'ParkPctChange',
                             'StateVisitorCount', 'StatePctChange']]

df_2013_data.to_csv("data//2013_park_data.csv", encoding = "utf-8", index = False)
df_2013_data.head()

C:\Users\rache\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Year,State,Park,ParkVisitorCount,ParkPctChange,StateVisitorCount,StatePctChange
0,2013,Alabama,Horseshoe Bend NMP,"55,965",-4.61%,"749,857",4.48%
1,2013,Alabama,Little River Canyon NPRES,"185,477",-7.77%,"749,857",4.48%
2,2013,Alabama,Natchez Trace PKWY,"420,892",8.13%,"749,857",4.48%
3,2013,Alabama,Russell Cave NM,"20,456",-2.38%,"749,857",4.48%
4,2013,Alabama,Tuskegee Airmen NHS,"19,301",-18.62%,"749,857",4.48%

In [13]:
# 2012
df_2012 = pd.DataFrame(year_2012)
df_2012_data = df_2012[["State", "Field1", "Field2", "Textbox22", "RecVisitors1", "Textbox23"]]

#add column for year
df_2012_data["Year"] = "2012"

df_2012_data = df_2012_data.rename(columns = { 'Field1': 'Park', 'Field2': 'ParkVisitorCount', 
                                              'Textbox22': 'ParkPctChange',
                                              'RecVisitors1': 'StateVisitorCount', 'Textbox23': 'StatePctChange'})

#reorder columns
df_2012_data = df_2012_data[['Year', 'State', 'Park', 'ParkVisitorCount', 'ParkPctChange',
                             'StateVisitorCount', 'StatePctChange']]

df_2012_data.to_csv("data//2012_park_data.csv", encoding = "utf-8", index = False)
df_2012_data.head()

C:\Users\rache\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Year,State,Park,ParkVisitorCount,ParkPctChange,StateVisitorCount,StatePctChange
0,2012,Alabama,Horseshoe Bend NMP,"58,668",-10.96%,"717,724",-4.97%
1,2012,Alabama,Little River Canyon NPRES,"201,109",-10.84%,"717,724",-4.97%
2,2012,Alabama,Natchez Trace PKWY,"389,247",-3.55%,"717,724",-4.97%
3,2012,Alabama,Russell Cave NM,"20,954",1.14%,"717,724",-4.97%
4,2012,Alabama,Tuskegee Airmen NHS,"23,716",46.00%,"717,724",-4.97%

In [14]:
# 2011
df_2011 = pd.DataFrame(year_2011)
df_2011_data = df_2011[["State", "Field1", "Field2", "Textbox22", "RecVisitors1", "Textbox23"]]

#add column for year
df_2011_data["Year"] = "2011"

df_2011_data = df_2011_data.rename(columns = { 'Field1': 'Park', 'Field2': 'ParkVisitorCount', 
                                              'Textbox22': 'ParkPctChange',
                                              'RecVisitors1': 'StateVisitorCount', 'Textbox23': 'StatePctChange'})

#reorder columns
df_2011_data = df_2011_data[['Year', 'State', 'Park', 'ParkVisitorCount', 'ParkPctChange',
                             'StateVisitorCount', 'StatePctChange']]

df_2011_data.to_csv("data//2011_park_data.csv", encoding = "utf-8", index = False)
df_2011_data.head()

C:\Users\rache\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Year,State,Park,ParkVisitorCount,ParkPctChange,StateVisitorCount,StatePctChange
0,2011,Alabama,Horseshoe Bend NMP,"65,892",-2.78%,"755,264",-3.36%
1,2011,Alabama,Little River Canyon NPRES,"225,549",17.12%,"755,264",-3.36%
2,2011,Alabama,Natchez Trace PKWY,"403,574",-2.46%,"755,264",-3.36%
3,2011,Alabama,Russell Cave NM,"20,717",-11.37%,"755,264",-3.36%
4,2011,Alabama,Tuskegee Airmen NHS,"16,244",-73.29%,"755,264",-3.36%

In [15]:
# 2010
df_2010 = pd.DataFrame(year_2010)
df_2010_data = df_2010[["State", "Field1", "Field2", "Textbox22", "RecVisitors1", "Textbox23"]]

#add column for year
df_2010_data["Year"] = "2010"

df_2010_data = df_2010_data.rename(columns = { 'Field1': 'Park', 'Field2': 'ParkVisitorCount', 
                                              'Textbox22': 'ParkPctChange',
                                              'RecVisitors1': 'StateVisitorCount', 'Textbox23': 'StatePctChange'})

#reorder columns
df_2010_data = df_2010_data[['Year', 'State', 'Park', 'ParkVisitorCount', 'ParkPctChange',
                             'StateVisitorCount', 'StatePctChange']]

df_2010_data.to_csv("data//2010_park_data.csv", encoding = "utf-8", index = False)
df_2010_data.head()

C:\Users\rache\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Year,State,Park,ParkVisitorCount,ParkPctChange,StateVisitorCount,StatePctChange
0,2010,Alabama,Horseshoe Bend NMP,"67,776",-6.17%,"781,550",-1.16%
1,2010,Alabama,Little River Canyon NPRES,"192,576",1.76%,"781,550",-1.16%
2,2010,Alabama,Natchez Trace PKWY,"413,767",-0.39%,"781,550",-1.16%
3,2010,Alabama,Russell Cave NM,"23,374",-2.96%,"781,550",-1.16%
4,2010,Alabama,Tuskegee Airmen NHS,"60,827",4.13%,"781,550",-1.16%

In [16]:
#load data to database
# from sqlalchemy import create_engine
# engine = create_engine('postgres://omlldydntougeh:3238db6c3b4fc7d81c831b95f4823ae2ae7fe25ba07787531cc5a25b09690b2a@ec2-18-214-140-149.compute-1.amazonaws.com:5432/d120acgmrnaee0://omlldydntougeh:3238db6c3b4fc7d81c831b95f4823ae2ae7fe25ba07787531cc5a25b09690b2a@d120acgmrnaee0')
# df_2016_data.to_sql('parkData', engine)

In [ ]:
# rds_connection_string = "<insert user name>:<insert password>@localhost:5432/customer_db"
# engine = create_engine(f'postgresql://{rds_connection_string}')