## import

In [1]:
# module to create file paths across operating systems
import os
import pandas as pd
#postgress password
from config import password
from sqlalchemy import create_engine

## read in CSV files

In [2]:
all_trails = pd.read_csv("initialData/all_trails_data_national_park.csv")

csv_path = os.path.join("initialData", "recreation_visitation_by_state_and_by_park_")
year_2016 = pd.read_csv(f"{csv_path}2016.csv", low_memory=False)
year_2015 = pd.read_csv(f"{csv_path}2015.csv", low_memory=False)
year_2014 = pd.read_csv(f"{csv_path}2014.csv", low_memory=False)
year_2013 = pd.read_csv(f"{csv_path}2013.csv", low_memory=False)
year_2012 = pd.read_csv(f"{csv_path}2012.csv", low_memory=False)
year_2011 = pd.read_csv(f"{csv_path}2011.csv", low_memory=False)
year_2010 = pd.read_csv(f"{csv_path}2010.csv", low_memory=False)

state_visitors = pd.read_csv("data/all_years_visitors.csv")

## trail data to dataframe

In [3]:
# 2016
df_trails = pd.DataFrame(all_trails)
df_trails.head()

,trail_id,name,area_name,city_name,state_name,country_name,_geoloc,popularity,length,elevation_gain,difficulty_rating,route_type,visitor_usage,avg_rating,num_reviews,features,activities,units
0,10020048,Harding Ice Field Trail,Kenai Fjords National Park,Seward,Alaska,United States,"{'lat': 60.18852, 'lng': -149.63156}",24.8931,15610.598,1161.8976,5,out and back,3.0,5.0,423,"['dogs-no', 'forest', 'river', 'views', 'water...","['birding', 'camping', 'hiking', 'nature-trips...",i
1,10236086,Mount Healy Overlook Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73049, 'lng': -148.91968}",18.0311,6920.162,507.7968,3,out and back,1.0,4.5,260,"['dogs-no', 'forest', 'views', 'wild-flowers',...","['birding', 'camping', 'hiking', 'nature-trips...",i
2,10267857,Exit Glacier Trail,Kenai Fjords National Park,Seward,Alaska,United States,"{'lat': 60.18879, 'lng': -149.631}",17.7821,2896.812,81.9912,1,out and back,3.0,4.5,224,"['dogs-no', 'partially-paved', 'views', 'wildl...","['hiking', 'walking']",i
3,10236076,Horseshoe Lake Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73661, 'lng': -148.915}",16.2674,3379.614,119.7864,1,loop,2.0,4.5,237,"['dogs-no', 'forest', 'lake', 'kids', 'views',...","['birding', 'hiking', 'nature-trips', 'trail-r...",i
4,10236082,Triple Lakes Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73319, 'lng': -148.89682}",12.5935,29772.790,1124.7120,5,out and back,1.0,4.5,110,"['dogs-no', 'lake', 'views', 'wild-flowers', '...","['birding', 'fishing', 'hiking', 'nature-trips...",i

In [4]:
df_trails = df_trails[["trail_id", "name", "area_name", "state_name", "_geoloc", "popularity", "length", "difficulty_rating", "route_type", "visitor_usage", "avg_rating", "features", "activities"]]
df_trails

,trail_id,name,area_name,state_name,_geoloc,popularity,length,difficulty_rating,route_type,visitor_usage,avg_rating,features,activities
0,10020048,Harding Ice Field Trail,Kenai Fjords National Park,Alaska,"{'lat': 60.18852, 'lng': -149.63156}",24.8931,15610.598,5,out and back,3.0,5.0,"['dogs-no', 'forest', 'river', 'views', 'water...","['birding', 'camping', 'hiking', 'nature-trips..."
1,10236086,Mount Healy Overlook Trail,Denali National Park,Alaska,"{'lat': 63.73049, 'lng': -148.91968}",18.0311,6920.162,3,out and back,1.0,4.5,"['dogs-no', 'forest', 'views', 'wild-flowers',...","['birding', 'camping', 'hiking', 'nature-trips..."
2,10267857,Exit Glacier Trail,Kenai Fjords National Park,Alaska,"{'lat': 60.18879, 'lng': -149.631}",17.7821,2896.812,1,out and back,3.0,4.5,"['dogs-no', 'partially-paved', 'views', 'wildl...","['hiking', 'walking']"
3,10236076,Horseshoe Lake Trail,Denali National Park,Alaska,"{'lat': 63.73661, 'lng': -148.915}",16.2674,3379.614,1,loop,2.0,4.5,"['dogs-no', 'forest', 'lake', 'kids', 'views',...","['birding', 'hiking', 'nature-trips', 'trail-r..."
4,10236082,Triple Lakes Trail,Denali National Park,Alaska,"{'lat': 63.73319, 'lng': -148.89682}",12.5935,29772.790,5,out and back,1.0,4.5,"['dogs-no', 'lake', 'views', 'wild-flowers', '...","['birding', 'fishing', 'hiking', 'nature-trips..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3308,10008302,Silversword Loop Via Halemau'u Trail,Haleakala National Park,Maui,"{'lat': 20.75275, 'lng': -156.22884}",9.3861,20116.750,5,loop,2.0,4.5,"['dogs-no', 'views', 'wild-flowers']","['birding', 'hiking', 'nature-trips']"
3309,10236001,Keonehe'ehe'e Trail,Haleakala National Park,Maui,"{'lat': 20.714480000000002, 'lng': -156.25072}",9.1555,28324.384,5,out and back,2.0,5.0,"['dogs-no', 'views', 'wildlife']","['backpacking', 'camping', 'hiking']"
3310,10258707,Red Hill Overlook Summit Trail,Haleakala National Park,Maui,"{'lat': 20.71007, 'lng': -156.25357}",8.5066,321.868,1,out and back,NaN,4.5,"['dogs-no', 'kids', 'views']","['hiking', 'walking']"
3311,10014989,Kaupo Trail,Haleakala National Park,Maui,"{'lat': 20.64981, 'lng': -156.137}",8.3240,19312.080,5,out and back,1.0,4.0,"['dogs-no', 'views', 'wildlife']",['hiking']
3312,10259465,Ka Lu'u o ka O'o Cinder Cone via Crater and Sl...,Haleakala National Park,Maui,"{'lat': 20.71449, 'lng': -156.25085}",2.4176,8368.568,3,loop,2.0,4.5,['views'],['hiking']

In [5]:
df_trails.to_csv("data//trail_data.csv", encoding = "utf-8", index = False)
df_trails.head()

,trail_id,name,area_name,state_name,_geoloc,popularity,length,difficulty_rating,route_type,visitor_usage,avg_rating,features,activities
0,10020048,Harding Ice Field Trail,Kenai Fjords National Park,Alaska,"{'lat': 60.18852, 'lng': -149.63156}",24.8931,15610.598,5,out and back,3.0,5.0,"['dogs-no', 'forest', 'river', 'views', 'water...","['birding', 'camping', 'hiking', 'nature-trips..."
1,10236086,Mount Healy Overlook Trail,Denali National Park,Alaska,"{'lat': 63.73049, 'lng': -148.91968}",18.0311,6920.162,3,out and back,1.0,4.5,"['dogs-no', 'forest', 'views', 'wild-flowers',...","['birding', 'camping', 'hiking', 'nature-trips..."
2,10267857,Exit Glacier Trail,Kenai Fjords National Park,Alaska,"{'lat': 60.18879, 'lng': -149.631}",17.7821,2896.812,1,out and back,3.0,4.5,"['dogs-no', 'partially-paved', 'views', 'wildl...","['hiking', 'walking']"
3,10236076,Horseshoe Lake Trail,Denali National Park,Alaska,"{'lat': 63.73661, 'lng': -148.915}",16.2674,3379.614,1,loop,2.0,4.5,"['dogs-no', 'forest', 'lake', 'kids', 'views',...","['birding', 'hiking', 'nature-trips', 'trail-r..."
4,10236082,Triple Lakes Trail,Denali National Park,Alaska,"{'lat': 63.73319, 'lng': -148.89682}",12.5935,29772.790,5,out and back,1.0,4.5,"['dogs-no', 'lake', 'views', 'wild-flowers', '...","['birding', 'fishing', 'hiking', 'nature-trips..."

## state, park, and visitor data to dataframes

In [6]:
# 2016
df_2016 = pd.DataFrame(year_2016)
df_2016

,State,Field1,Field2,Textbox22,Field4,Textbox24,TotalNonRecreationVisits,Textbox98,TotalRecreationVisitorHours,Textbox103,...,Textbox47,Textbox129,Textbox42,Textbox135,Textbox37,Textbox141,Textbox95,Textbox146,Textbox90,Textbox153
0,Alabama,Horseshoe Bend NMP,"83,370",-6.62%,"17,225",-3.87%,"1,131,017",16.37%,"206,703",-3.87%,...,"3,858,147",NaN,"2,543,209",NaN,"2,154,687",NaN,"150,982",NaN,"2,156,804",NaN
1,Alabama,Little River Canyon NPRES,"462,700",86.47%,"102,598",354.30%,0,NaN,"1,231,175",354.30%,...,"3,858,147",NaN,"2,543,209",NaN,"2,154,687",NaN,"150,982",NaN,"2,156,804",NaN
2,Alabama,Natchez Trace PKWY,"412,392",1.82%,"138,487",1.88%,"468,410",-5.87%,"1,661,845",1.88%,...,"3,858,147",NaN,"2,543,209",NaN,"2,154,687",NaN,"150,982",NaN,"2,156,804",NaN
3,Alabama,Russell Cave NM,"24,649",26.86%,"3,476",26.80%,0,NaN,"41,708",26.80%,...,"3,858,147",NaN,"2,543,209",NaN,"2,154,687",NaN,"150,982",NaN,"2,156,804",NaN
4,Alabama,Tuskegee Airmen NHS,"31,133",37.38%,"3,892",37.39%,0,NaN,"46,700",37.39%,...,"3,858,147",NaN,"2,543,209",NaN,"2,154,687",NaN,"150,982",NaN,"2,156,804",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,Wyoming,Fort Laramie NHS,"57,444",11.29%,"7,181",11.29%,365,0.00%,"86,166",11.29%,...,"3,858,147",NaN,"2,543,209",NaN,"2,154,687",NaN,"150,982",NaN,"2,156,804",NaN
396,Wyoming,Fossil Butte NM,"20,737",7.48%,"2,549",8.70%,"1,080",97.44%,"30,583",8.70%,...,"3,858,147",NaN,"2,543,209",NaN,"2,154,687",NaN,"150,982",NaN,"2,156,804",NaN
397,Wyoming,Grand Teton NP,"3,270,076",3.81%,"1,680,146",-7.34%,"1,552,896",3.67%,"20,161,755",-7.34%,...,"3,858,147",NaN,"2,543,209",NaN,"2,154,687",NaN,"150,982",NaN,"2,156,804",NaN
398,Wyoming,"John D. Rockefeller, Jr. MEM PKWY","1,411,819",-1.29%,"144,532",-8.44%,"10,800",0.00%,"1,734,386",-8.44%,...,"3,858,147",NaN,"2,543,209",NaN,"2,154,687",NaN,"150,982",NaN,"2,156,804",NaN
399,Wyoming,Yellowstone NP,"2,086,017",3.89%,"3,446,820",2.92%,"587,439",3.70%,"41,361,844",2.92%,...,"3,858,147",NaN,"2,543,209",NaN,"2,154,687",NaN,"150,982",NaN,"2,156,804",NaN

In [7]:
# 2016
df_2016 = pd.DataFrame(year_2016)
df_2016_data = df_2016[["State", "Field1", "Field2", "Textbox22", "RecVisitors1", "Textbox23"]]


#rename columns
df_2016_data = df_2016_data.rename(columns = {'Field1': 'Park', 'Field2': 'ParkVisitorCount_2016', 
                                              'Textbox22': 'ParkPctChange_2016',
                                              'RecVisitors1': 'StateVisitorCount_2016', 'Textbox23': 'StatePctChange_2016'})

#add column of state and park
df_2016_data["PK"] = df_2016_data["State"] + " " + df_2016_data["Park"]


#reorder columns
df_2016_data = df_2016_data[['PK', 'State', 'Park', 'ParkVisitorCount_2016', 'ParkPctChange_2016',
                             'StateVisitorCount_2016', 'StatePctChange_2016']]

#write data to CSV file
df_2016_data.to_csv("data//2016_park_data.csv", encoding = "utf-8", index = False)
df_2016_data

,PK,State,Park,ParkVisitorCount_2016,ParkPctChange_2016,StateVisitorCount_2016,StatePctChange_2016
0,Alabama Horseshoe Bend NMP,Alabama,Horseshoe Bend NMP,"83,370",-6.62%,"1,022,696",29.05%
1,Alabama Little River Canyon NPRES,Alabama,Little River Canyon NPRES,"462,700",86.47%,"1,022,696",29.05%
2,Alabama Natchez Trace PKWY,Alabama,Natchez Trace PKWY,"412,392",1.82%,"1,022,696",29.05%
3,Alabama Russell Cave NM,Alabama,Russell Cave NM,"24,649",26.86%,"1,022,696",29.05%
4,Alabama Tuskegee Airmen NHS,Alabama,Tuskegee Airmen NHS,"31,133",37.38%,"1,022,696",29.05%
...,...,...,...,...,...,...,...
395,Wyoming Fort Laramie NHS,Wyoming,Fort Laramie NHS,"57,444",11.29%,"7,461,666",2.91%
396,Wyoming Fossil Butte NM,Wyoming,Fossil Butte NM,"20,737",7.48%,"7,461,666",2.91%
397,Wyoming Grand Teton NP,Wyoming,Grand Teton NP,"3,270,076",3.81%,"7,461,666",2.91%
398,"Wyoming John D. Rockefeller, Jr. MEM PKWY",Wyoming,"John D. Rockefeller, Jr. MEM PKWY","1,411,819",-1.29%,"7,461,666",2.91%
399,Wyoming Yellowstone NP,Wyoming,Yellowstone NP,"2,086,017",3.89%,"7,461,666",2.91%

In [8]:
#df_2016_data["Park"] = df_2016_data["Park"].str.rsplit(" ", n =1, expand = True)
#df_2016_data
#fix - add a column and put the type of park in the new column

In [9]:
# 2015
df_2015 = pd.DataFrame(year_2015)

df_2015_data = df_2015[["State", "Field1", "Field2", "Textbox22", "RecVisitors1", "Textbox23"]]

#add column for year
#df_2015_data["Year"] = "2015"

df_2015_data = df_2015_data.rename(columns = { 'Field1': 'Park', 'Field2': 'ParkVisitorCount_2015', 
                                              'Textbox22': 'ParkPctChange_2015',
                                              'RecVisitors1': 'StateVisitorCount_2015', 'Textbox23': 'StatePctChange_2015'})
#add column of state and park
df_2015_data["PK"] = df_2015_data["State"] + " " + df_2015_data["Park"]

#reorder columns
df_2015_data = df_2015_data[['PK', 'ParkVisitorCount_2015', 'ParkPctChange_2015',
                             'StateVisitorCount_2015', 'StatePctChange_2015']]

df_2015_data.to_csv("data//2015_park_data.csv", encoding = "utf-8", index = False)
df_2015_data

,PK,ParkVisitorCount_2015,ParkPctChange_2015,StateVisitorCount_2015,StatePctChange_2015
0,Alabama Horseshoe Bend NMP,"89,282",38.72%,"792,477",5.22%
1,Alabama Little River Canyon NPRES,"248,135",10.32%,"792,477",5.22%
2,Alabama Natchez Trace PKWY,"405,007",-1.04%,"792,477",5.22%
3,Alabama Russell Cave NM,"19,430",4.86%,"792,477",5.22%
4,Alabama Tuskegee Airmen NHS,"22,662",-6.81%,"792,477",5.22%
...,...,...,...,...,...
389,Wyoming Fort Laramie NHS,"51,616",5.26%,"7,250,657",13.51%
390,Wyoming Fossil Butte NM,"19,293",16.06%,"7,250,657",13.51%
391,Wyoming Grand Teton NP,"3,149,921",12.84%,"7,250,657",13.51%
392,"Wyoming John D. Rockefeller, Jr. MEM PKWY","1,430,337",13.08%,"7,250,657",13.51%
393,Wyoming Yellowstone NP,"2,007,878",16.63%,"7,250,657",13.51%

In [10]:
# 2014
df_2014 = pd.DataFrame(year_2014)
df_2014_data = df_2014[["State", "Field1", "Field2", "Textbox22", "RecVisitors1", "Textbox23"]]

#add column for year
#df_2014_data["Year"] = "2014"

df_2014_data = df_2014_data.rename(columns = { 'Field1': 'Park', 'Field2': 'ParkVisitorCount_2014', 
                                              'Textbox22': 'ParkPctChange_2014',
                                              'RecVisitors1': 'StateVisitorCount_2014', 'Textbox23': 'StatePctChange_2014'})

#add column of state and park
df_2014_data["PK"] = df_2014_data["State"] + " " + df_2014_data["Park"]

#reorder columns
df_2014_data = df_2014_data[['PK', 'ParkVisitorCount_2014', 'ParkPctChange_2014',
                             'StateVisitorCount_2014', 'StatePctChange_2014']]

df_2014_data.to_csv("data//2014_park_data.csv", encoding = "utf-8", index = False)
df_2014_data.head()

,PK,ParkVisitorCount_2014,ParkPctChange_2014,StateVisitorCount_2014,StatePctChange_2014
0,Alabama Horseshoe Bend NMP,"64,359",15.00%,"753,178",0.44%
1,Alabama Little River Canyon NPRES,"224,931",21.27%,"753,178",0.44%
2,Alabama Natchez Trace PKWY,"409,253",-2.77%,"753,178",0.44%
3,Alabama Russell Cave NM,"18,530",-9.42%,"753,178",0.44%
4,Alabama Tuskegee Airmen NHS,"24,319",26.00%,"753,178",0.44%

In [11]:
# # 2013
# df_2013 = pd.DataFrame(year_2013)
# df_2013_data = df_2013[["State", "Field1", "Field2", "Textbox22", "RecVisitors1", "Textbox23"]]

# #add column for year
# df_2013_data["Year"] = "2013"

# df_2013_data = df_2013_data.rename(columns = { 'Field1': 'Park', 'Field2': 'ParkVisitorCount', 
#                                               'Textbox22': 'ParkPctChange',
#                                               'RecVisitors1': 'StateVisitorCount', 'Textbox23': 'StatePctChange'})

# #reorder columns
# df_2013_data = df_2013_data[['Year', 'State', 'Park', 'ParkVisitorCount', 'ParkPctChange',
#                              'StateVisitorCount', 'StatePctChange']]

# df_2013_data.to_csv("data//2013_park_data.csv", encoding = "utf-8", index = False)
# df_2013_data.head()

In [12]:
# # 2012
# df_2012 = pd.DataFrame(year_2012)
# df_2012_data = df_2012[["State", "Field1", "Field2", "Textbox22", "RecVisitors1", "Textbox23"]]

# #add column for year
# df_2012_data["Year"] = "2012"

# df_2012_data = df_2012_data.rename(columns = { 'Field1': 'Park', 'Field2': 'ParkVisitorCount', 
#                                               'Textbox22': 'ParkPctChange',
#                                               'RecVisitors1': 'StateVisitorCount', 'Textbox23': 'StatePctChange'})

# #reorder columns
# df_2012_data = df_2012_data[['Year', 'State', 'Park', 'ParkVisitorCount', 'ParkPctChange',
#                              'StateVisitorCount', 'StatePctChange']]

# df_2012_data.to_csv("data//2012_park_data.csv", encoding = "utf-8", index = False)
# df_2012_data.head()

In [13]:
# # 2011
# df_2011 = pd.DataFrame(year_2011)
# df_2011_data = df_2011[["State", "Field1", "Field2", "Textbox22", "RecVisitors1", "Textbox23"]]

# #add column for year
# df_2011_data["Year"] = "2011"

# df_2011_data = df_2011_data.rename(columns = { 'Field1': 'Park', 'Field2': 'ParkVisitorCount', 
#                                               'Textbox22': 'ParkPctChange',
#                                               'RecVisitors1': 'StateVisitorCount', 'Textbox23': 'StatePctChange'})

# #reorder columns
# df_2011_data = df_2011_data[['Year', 'State', 'Park', 'ParkVisitorCount', 'ParkPctChange',
#                              'StateVisitorCount', 'StatePctChange']]

# df_2011_data.to_csv("data//2011_park_data.csv", encoding = "utf-8", index = False)
# df_2011_data.head()

In [14]:
# # 2010
# df_2010 = pd.DataFrame(year_2010)
# df_2010_data = df_2010[["State", "Field1", "Field2", "Textbox22", "RecVisitors1", "Textbox23"]]

# #add column for year
# df_2010_data["Year"] = "2010"

# df_2010_data = df_2010_data.rename(columns = { 'Field1': 'Park', 'Field2': 'ParkVisitorCount', 
#                                               'Textbox22': 'ParkPctChange',
#                                               'RecVisitors1': 'StateVisitorCount', 'Textbox23': 'StatePctChange'})

# #reorder columns
# df_2010_data = df_2010_data[['Year', 'State', 'Park', 'ParkVisitorCount', 'ParkPctChange',
#                              'StateVisitorCount', 'StatePctChange']]

# df_2010_data.to_csv("data//2010_park_data.csv", encoding = "utf-8", index = False)
# df_2010_data.head()

In [15]:
#merge all years together into one dataframe
#frames = [df_2016_data, df_2015_data, df_2014_data]
#df_all_years = pd.concat(frames)
#df_all_years

In [16]:
#merge all years together into one dataframe
df_all_years = pd.merge(df_2016_data, df_2015_data, on = "PK", how = "outer")
df_all_years = pd.merge(df_all_years, df_2014_data, on = "PK", how = "outer")
df_all_years.head()

,PK,State,Park,ParkVisitorCount_2016,ParkPctChange_2016,StateVisitorCount_2016,StatePctChange_2016,ParkVisitorCount_2015,ParkPctChange_2015,StateVisitorCount_2015,StatePctChange_2015,ParkVisitorCount_2014,ParkPctChange_2014,StateVisitorCount_2014,StatePctChange_2014
0,Alabama Horseshoe Bend NMP,Alabama,Horseshoe Bend NMP,"83,370",-6.62%,"1,022,696",29.05%,"89,282",38.72%,"792,477",5.22%,"64,359",15.00%,"753,178",0.44%
1,Alabama Little River Canyon NPRES,Alabama,Little River Canyon NPRES,"462,700",86.47%,"1,022,696",29.05%,"248,135",10.32%,"792,477",5.22%,"224,931",21.27%,"753,178",0.44%
2,Alabama Natchez Trace PKWY,Alabama,Natchez Trace PKWY,"412,392",1.82%,"1,022,696",29.05%,"405,007",-1.04%,"792,477",5.22%,"409,253",-2.77%,"753,178",0.44%
3,Alabama Russell Cave NM,Alabama,Russell Cave NM,"24,649",26.86%,"1,022,696",29.05%,"19,430",4.86%,"792,477",5.22%,"18,530",-9.42%,"753,178",0.44%
4,Alabama Tuskegee Airmen NHS,Alabama,Tuskegee Airmen NHS,"31,133",37.38%,"1,022,696",29.05%,"22,662",-6.81%,"792,477",5.22%,"24,319",26.00%,"753,178",0.44%

In [17]:
# remove rows for non US states

# get names of indexes for which column State has value of not us state and drop those rows
index_names = df_all_years[df_all_years['State'] == "American Samoa"].index
df_all_years.drop(index_names, inplace = True)

index_names = df_all_years[df_all_years['State'] == "District of Columbia"].index
df_all_years.drop(index_names, inplace = True)

index_names = df_all_years[df_all_years['State'] == "Guam"].index
df_all_years.drop(index_names, inplace = True)

index_names = df_all_years[df_all_years['State'] == "Puerto Rico"].index
df_all_years.drop(index_names, inplace = True)

index_names = df_all_years[df_all_years['State'] == "Virgin Islands"].index
df_all_years.drop(index_names, inplace = True)


df_all_years.head()

,PK,State,Park,ParkVisitorCount_2016,ParkPctChange_2016,StateVisitorCount_2016,StatePctChange_2016,ParkVisitorCount_2015,ParkPctChange_2015,StateVisitorCount_2015,StatePctChange_2015,ParkVisitorCount_2014,ParkPctChange_2014,StateVisitorCount_2014,StatePctChange_2014
0,Alabama Horseshoe Bend NMP,Alabama,Horseshoe Bend NMP,"83,370",-6.62%,"1,022,696",29.05%,"89,282",38.72%,"792,477",5.22%,"64,359",15.00%,"753,178",0.44%
1,Alabama Little River Canyon NPRES,Alabama,Little River Canyon NPRES,"462,700",86.47%,"1,022,696",29.05%,"248,135",10.32%,"792,477",5.22%,"224,931",21.27%,"753,178",0.44%
2,Alabama Natchez Trace PKWY,Alabama,Natchez Trace PKWY,"412,392",1.82%,"1,022,696",29.05%,"405,007",-1.04%,"792,477",5.22%,"409,253",-2.77%,"753,178",0.44%
3,Alabama Russell Cave NM,Alabama,Russell Cave NM,"24,649",26.86%,"1,022,696",29.05%,"19,430",4.86%,"792,477",5.22%,"18,530",-9.42%,"753,178",0.44%
4,Alabama Tuskegee Airmen NHS,Alabama,Tuskegee Airmen NHS,"31,133",37.38%,"1,022,696",29.05%,"22,662",-6.81%,"792,477",5.22%,"24,319",26.00%,"753,178",0.44%

In [18]:
df_all_years['ParkVisitorCount_2016'] = df_all_years['ParkVisitorCount_2016'].astype(str).str.replace(',', '').astype(float)
df_all_years['ParkVisitorCount_2015'] = df_all_years['ParkVisitorCount_2015'].astype(str).str.replace(',', '').astype(float)
df_all_years['ParkVisitorCount_2014'] = df_all_years['ParkVisitorCount_2014'].astype(str).str.replace(',', '').astype(float)
df_all_years['ParkPctChange_2016'] = df_all_years['ParkPctChange_2016'].astype(str).str.replace('%', '').astype(float)
df_all_years['ParkPctChange_2015'] = df_all_years['ParkPctChange_2015'].astype(str).str.replace('%', '').astype(float)
df_all_years['ParkPctChange_2014'] = df_all_years['ParkPctChange_2014'].astype(str).str.replace('%', '').astype(float)
df_all_years['StateVisitorCount_2016'] = df_all_years['StateVisitorCount_2016'].astype(str).str.replace(',', '').astype(float)
df_all_years['StateVisitorCount_2015'] = df_all_years['StateVisitorCount_2015'].astype(str).str.replace(',', '').astype(float)
df_all_years['StateVisitorCount_2014'] = df_all_years['StateVisitorCount_2014'].astype(str).str.replace(',', '').astype(float)
df_all_years['StatePctChange_2016'] = df_all_years['StatePctChange_2016'].astype(str).str.replace('%', '').astype(float)
df_all_years['StatePctChange_2015'] = df_all_years['StatePctChange_2015'].astype(str).str.replace('%', '').astype(float)
df_all_years['StatePctChange_2014'] = df_all_years['StatePctChange_2014'].astype(str).str.replace('%', '').astype(float)

df_all_years.dtypes

PK                         object
State                      object
Park                       object
ParkVisitorCount_2016     float64
ParkPctChange_2016        float64
StateVisitorCount_2016    float64
StatePctChange_2016       float64
ParkVisitorCount_2015     float64
ParkPctChange_2015        float64
StateVisitorCount_2015    float64
StatePctChange_2015       float64
ParkVisitorCount_2014     float64
ParkPctChange_2014        float64
StateVisitorCount_2014    float64
StatePctChange_2014       float64
dtype: object

In [30]:
df_all_years.fillna(0)
df_all_years["ParkPctChange_2016"] = df_all_years["ParkPctChange_2016"].fillna(0)

NameError: name 'ParkPctChange_2016' is not defined

In [20]:
# df_all_years.to_csv("data//all_years_state_park.csv", encoding = "utf-8", index = False)

In [21]:
df_trails.dtypes

trail_id               int64
name                  object
area_name             object
state_name            object
_geoloc               object
popularity           float64
length               float64
difficulty_rating      int64
route_type            object
visitor_usage        float64
avg_rating           float64
features              object
activities            object
dtype: object

In [22]:
state_visitors

,State,StateVisitorCount_2016,StatePctChange_2016,StateVisitorCount_2015,StatePctChange_2015,StateVisitorCount_2014,StatePctChange_2014
0,Alabama,"1,022,696",29.05%,"792,477",5.22%,"753,178",0.44%
1,Alaska,"2,783,011",4.46%,"2,664,293",-0.76%,"2,684,693",3.82%
2,Arizona,"12,007,544",2.37%,"11,729,985",9.14%,"10,747,219",6.37%
3,Arkansas,"3,787,198",15.37%,"3,282,634",4.78%,"3,132,898",12.85%
4,California,"41,977,184",9.41%,"38,366,824",2.69%,"37,363,392",5.03%
5,Colorado,"7,457,420",5.37%,"7,077,287",17.33%,"6,031,874",11.83%
6,Connecticut,"39,079",-17.24%,"47,220",38.55%,"34,082",49.08%
7,Florida,"10,855,364",2.02%,"10,639,976",-0.26%,"10,667,459",3.74%
8,Georgia,"7,040,865",-6.47%,"7,527,855",0.49%,"7,491,109",6.31%
9,Hawaii,"5,786,318",6.39%,"5,439,034",4.32%,"5,213,817",6.35%
10,Idaho,"629,191",4.56%,"601,777",8.68%,"553,739",-9.87%
11,Illinois,"239,719",2.75%,"233,299",6.95%,"218,132",4.17%
12,Indiana,"1,949,880",3.29%,"1,887,762",6.15%,"1,778,385",-8.11%
13,Iowa,"229,577",9.82%,"209,055",-3.62%,"216,898",8.45%
14,Kansas,"121,249",4.61%,"115,903",17.56%,"98,591",7.25%
15,Kentucky,"1,882,702",6.91%,"1,760,944",-3.68%,"1,828,192",13.93%
16,Louisiana,"500,797",1.23%,"494,688",-3.10%,"510,522",-18.19%
17,Maine,"3,317,250",17.48%,"2,823,741",9.67%,"2,574,717",13.64%
18,Maryland,"6,668,215",3.49%,"6,443,376",-5.46%,"6,815,195",3.02%
19,Massachusetts,"10,127,182",7.74%,"9,399,919",-4.58%,"9,850,586",1.78%
20,Michigan,"2,702,934",13.25%,"2,386,613",19.74%,"1,993,139",0.20%
21,Minnesota,"1,016,336",20.99%,"840,008",3.50%,"811,616",23.28%
22,Mississippi,"6,618,913",4.08%,"6,359,646",-3.01%,"6,557,120",-3.35%
23,Missouri,"2,824,117",-13.03%,"3,247,219",-4.09%,"3,385,772",-12.94%
24,Montana,"5,655,262",13.84%,"4,967,752",8.22%,"4,590,398",7.21%
25,Nebraska,"307,208",5.48%,"291,235",14.57%,"254,198",-1.44%
26,Nevada,"5,526,764",-1.13%,"5,589,972",5.18%,"5,314,681",9.55%
27,New Hampshire,"42,377",7.99%,"39,242",3.86%,"37,785",-0.14%
28,New Jersey,"4,829,258",14.83%,"4,205,734",-4.19%,"4,389,637",-12.71%
29,New Mexico,"1,872,044",9.18%,"1,714,677",7.03%,"1,602,114",5.92%
30,New York,"18,904,528",15.78%,"16,328,212",1.16%,"16,141,397",46.92%
31,North Carolina,"18,493,719",3.70%,"17,834,699",6.73%,"16,710,759",3.55%
32,North Dakota,"784,710",29.70%,"605,015",3.98%,"581,851",1.64%
33,Ohio,"2,818,683",7.41%,"2,624,146",6.23%,"2,470,177",2.71%
34,Oklahoma,"1,688,733",33.37%,"1,266,172",8.66%,"1,165,269",5.16%
35,Oregon,"1,328,643",15.12%,"1,154,108",11.70%,"1,033,254",6.63%
36,Pennsylvania,"11,070,572",11.43%,"9,935,361",10.33%,"9,005,244",-1.45%
37,Rhode Island,"65,588",8.40%,"60,505",17.43%,"51,523",5.85%
38,South Carolina,"1,680,015",10.58%,"1,519,259",-0.03%,"1,519,746",0.24%
39,South Dakota,"4,464,251",1.51%,"4,397,785",13.90%,"3,861,090",-1.40%
40,Tennessee,"9,401,902",7.16%,"8,773,891",3.58%,"8,470,460",4.70%
41,Texas,"5,432,749",7.69%,"5,044,926",7.79%,NaN,NaN
42,Utah,"14,409,740",21.20%,"11,889,390",12.68%,"10,551,040",17.48%
43,Vermont,"55,716",59.17%,"35,003",-10.45%,"39,086",14.58%
44,Virginia,"27,092,480",16.53%,"23,249,802",1.66%,"22,870,531",3.84%
45,Washington,"8,522,006",11.04%,"7,674,514",0.29%,"7,652,073",4.15%
46,West Virginia,"1,683,649",4.98%,"1,603,753",4.02%,"1,541,805",2.85%
47,Wisconsin,"537,925",-1.16%,"544,223",-13.04%,"625,850",95.56%
48,Wyoming,"7,461,666",2.91%,"7,250,657",13.51%,"6,387,455",5.06%

In [23]:
state_visitors.dtypes

State                     object
StateVisitorCount_2016    object
StatePctChange_2016       object
StateVisitorCount_2015    object
StatePctChange_2015       object
StateVisitorCount_2014    object
StatePctChange_2014       object
dtype: object

In [24]:
state_visitors['StateVisitorCount_2016'] = state_visitors['StateVisitorCount_2016'].astype(str).str.replace(',', '').astype(float)
state_visitors['StateVisitorCount_2015'] = state_visitors['StateVisitorCount_2015'].astype(str).str.replace(',', '').astype(float)
state_visitors['StateVisitorCount_2014'] = state_visitors['StateVisitorCount_2014'].astype(str).str.replace(',', '').astype(float)
state_visitors['StatePctChange_2016'] = state_visitors['StatePctChange_2016'].astype(str).str.replace('%', '').astype(float)
state_visitors['StatePctChange_2015'] = state_visitors['StatePctChange_2015'].astype(str).str.replace('%', '').astype(float)
state_visitors['StatePctChange_2014'] = state_visitors['StatePctChange_2014'].astype(str).str.replace('%', '').astype(float)

state_visitors.dtypes

State                      object
StateVisitorCount_2016    float64
StatePctChange_2016       float64
StateVisitorCount_2015    float64
StatePctChange_2015       float64
StateVisitorCount_2014    float64
StatePctChange_2014       float64
dtype: object

In [25]:
#create a database in pgAdmin
#create tables and load data to tables
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/national_park_db')

In [27]:
df_all_years.to_sql(name = 'state_parks', con = engine, if_exists = "append", index = False)

In [28]:
df_trails.to_sql(name = 'trails', con = engine, if_exists = "append", index = False)

In [29]:
state_visitors.to_sql(name = 'state_visitors', con = engine, if_exists = "append", index = False)